* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fao.fao.dix -text
/apertium-fao.fao.rlx -text
/apertium-fao.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/adj.wiktionary-infl.1.speling -text
dev/n.wiktionary-infl.1.speling -text
dev/n.wiktionary-infl.2.speling -text
dev/scrapers/extract_faroese_adjectives.py -text
dev/scrapers/extract_faroese_verbs.py -text
dev/vblex.wiktionary-infl.1.speling -text
/fao.prob -text svneol=unset#unset
/modes.xml -text
